# Gradle
.gradle
build/
run/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Exploits plugin
src/main/java/me/chayapak1/chomens_bot/plugins/ExploitsPlugin.java

# Testing plugins
src/main/java/me/chayapak1/chomens_bot/plugins/testing
