# Project exclude paths
/target/

# Exploits plugin
/src/main/java/land/chipmunk/chayapak/chomens_bot/plugins/ExploitsPlugin.java

# Testing plugins
/src/main/java/land/chipmunk/chayapak/chomens_bot/plugins/testing
